name: on Main (lint, test and publish)

on:
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        default: main

permissions:
  contents: write

jobs:
  call-ci:
    uses: ./.github/workflows/ci.yml
    with:
      run_publish: true
      environment: ${{ github.event.inputs.environment }}
