name: on PR (lint, test, without publish)

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  call-ci:
    uses: ./.github/workflows/ci.yml
    with:
      run_publish: false
      environment: main
